<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
        <h1>Sign Up</h1>
        <form action="" method="POST">
            <div class="form-input">
                <label for="username">Username</label>
                <input name="username" placeholder="username" type="email" required/>
            </div>

            
            <div class="form-input">
                <label for="password">Password</label>
                <input name="password" type="password" required/>
            </div>
            
            <button>Sign Up</button>
          </form>

</body>
</html>