<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
        <h1>Write a message</h1>
        <form action="" method="POST">

            <div class="form-input">
                <input name="name" type="text" value="<%= currentUser.name %>" readonly/>
            </div>

            
            <div class="form-input">
                <label for="message">Message</label>
                <input name="message" type="text" required/>
            </div>
            
            <button>Submit</button>
          </form>

</body>
</html>