<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
        <h1>Sign Up</h1>
        <form action="" method="POST">
            <div class="form-input">
                <label for="f_name">First Name</label>
                <input name="f_name" placeholder="First Name" type="text" required/>
            </div>

            <div class="form-input">
                <label for="l_name">Last Name</label>
                <input name="l_name" placeholder="Last Name" type="text" required/>
            </div>

            <div class="form-input">
                <label for="username">Username</label>
                <input name="username" placeholder="username" type="email" required/>
            </div>

            
            <div class="form-input">
                <label for="password">Password</label>
                <input name="password" type="password" required/>
            </div>

            <div class="form-input">
                <label for="confirm_password">Confirm Password</label>
                <input name="confirm_password" type="password" required/>
            </div>
            
            <button>Sign Up</button>
          </form>

</body>
</html>